<ion-view view-title="OSA">
  <ion-content>
    <form name="rsvpForm" ng-submit="rsvp.send()">
    <div class="item item-divider">
      Vilka är ni?
      </div>
    <label class="item item-input">
      <input ng-model="rsvp.form.name" type="text" placeholder="Namn">
    </label>
    <div class="item item-divider">
        Kommer ni på bröllopet?
      </div>
    <ion-radio name="attending" ng-model="rsvp.form.attending" ng-value="true">Ja, vi kommer</ion-radio>
    <ion-radio name="attending" ng-model="rsvp.form.attending" ng-value="false">Nej, vi kommer inte</ion-radio>
    <div class="list">
     <div ng-if="rsvp.form.name">
        <div ng-if="rsvp.form.attending">
          <div class="item item-divider">
            Har ni några matpreferenser?
            </div>
          <label class="item item-input">
            <input ng-model="rsvp.form.foodPref" type="text" placeholder="Matpreferenser/Allergier">
          </label>
          <div class="item item-divider">
            Vill ni ha plats i bussen?
            </div>
          <ion-radio name="bus" ng-model="rsvp.form.bus" ng-value="'true'">Ja</ion-radio>
          <ion-radio name ="bus" ng-model="rsvp.form.bus" ng-value="'false'">Nej</ion-radio>
          <div class="item item-divider">
            Kommer ni på brunchen?
            </div>
          <ion-radio name="brunch" ng-model="rsvp.form.brunch" ng-value="'true'">Ja</ion-radio>
          <ion-radio name ="brunch" ng-model="rsvp.form.brunch" ng-value="'false'">Nej</ion-radio>
       </div>
       <button ng-if="rsvp.formIsValid()" type="submit" class="button button-full button-positive">
         Skicka in
       </button>
        </div>
      </form>
  </ion-content>
</ion-view>
