<ion-view view-title="Alenlove">
  <ion-content>
    <div class="list card">

      <div class="item item-image">
        <img id="picture" src="img/alenlove_heart.jpg">
      </div>
      <p>
        Här kan ni hitta all information ni kan tänkas behöva inför vårt bröllop.
        Vigseln äger rum den 18 juni klockan 16.00 i Gamla Uppsala kyrka, därefter följer fest på Gästrike-Hälsinge Nation
      </p>
      <button class="button button-block button-positive" ui-sref="tab.rsvp">
        Jag kommer! Garr!
      </button>
    </div>
  </ion-content>
</ion-view>
