<ion-view view-title="Alenlove" hide-back-button="true">
  <ion-nav-buttons side="secondary">
        <button class="button button-clear button-positive" ui-sref="tab.rsvp">
          OSA
        </button>
      </ion-nav-buttons>
  <ion-content>
    <div class="list card">

      <div class="item item-image">
        <div id="imageCountDown">#theresejohan
        </br>
          <timer end-time="1466258400000">{{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}</timer>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
