<ion-view view-title="Information" hide-back-button="true">
  <ion-content>
      <div class="card">
        <div class="item item-image">
          <img src="img/ring.jpg">
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Allmän info
        </div>
        <div class="item item-text-wrap">
          Vigseln äger rum den 18 juni klockan 16.00 i Gamla Uppsala kyrka. Därefter följer fest på Gästrike-Hälsinge Nation.
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Osa
        </div>
        <div class="item item-text-wrap">
          Senast den 23 maj vill vi ha ert svar på någon av adresserna nedan:
        </div>
        <div class="list">
          <a class="item item-icon-left" href="mailto:brollop@alenlov.se">
            <i class="icon ion-at"></i>
            brollop@alenlov.se
          </a>

          <div class="item item-icon-left">
            <i class="icon ion-email"></i>
            <p>Alenlöv/Westerborn
            <p>Åbergssons väg 37
            <p>170 77 SOLNA</p>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Presenter
        </div>
        <div class="item item-text-wrap">
          Det vi önskar oss allra mest är glada bröllopsgäster, men vill ni ha med er en present så får ni självklart det. Våra föräldrar har en önskelista så kontakta dem om ni vill ha tips.
        </div>
        <div class="list">
          <a class="item item-icon-left" href="tel:0704972479">
            <i class="icon ion-ios-telephone-outline"></i>
            <p>Monica Alenlöv
            <p>070 - 497 24 79</p>
          </a>
          <a class="item item-icon-left" href="tel:0702505254">
            <i class="icon ion-ios-telephone-outline"></i>
            <p>Camilla Westerborn
            <p>070 - 250 52 54</p>
          </a>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Klädsel
        </div>
        <div class="item item-text-wrap">
          Kavaj
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          Barn
        </div>
        <div class="item item-text-wrap">
          Vi gillar barn men just denna dag vill vi helst fira med er vuxna. Ammande barn är givetvis välkomna.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Till Uppsala
      </div>
      <div class="item item-text-wrap">
        Till Uppsala tar man sig lättast med tåg. Både SJ och SL kör tåg från Stockholm till Uppsala.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        Till kyrkan
      </div>
      <div class="item item-text-wrap">
        Från Uppsala centralstation avgår abonnerad buss till kyrkan klockan 15:15. Bussen avgår från Stationsgatan, östra sidan av stationen.
      </div>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.4760407838214!2d17.647635915968273!3d59.85784137557612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fcbf931151dcb%3A0xbf23b9e3779bbfab!2sStationsgatan%2C+Uppsala!5e0!3m2!1ssv!2sse!4v1457147590533" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="card">
      <div class="item item-divider">
        Gästrike-Hälsinge nation
      </div>
      <div class="item item-text-wrap">
        Festlokalen ligger på gångavstånd från Uppsala centralstation, men för er som vill ha nära hem finns ett flertal hotell belägna i närheten. Frågor kring hotell och övernattning hänvisas till Camilla Westerborn
      </div>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.5700246217573!2d17.634382315895696!3d59.856280675701974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fcbf0eba64ba1%3A0xff88360ac5f02254!2sG%C3%A4strike-H%C3%A4lsinge+nation!5e0!3m2!1ssv!2sse!4v1457148240703" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </ion-content>
</ion-view>
