<ion-view view-title="Praktisk information">
  <ion-content>
    <div class="list card">

      <div class="item item-image">
        <img src="http://alenlov.se/brollop/ring.jpg">
      </div>

      <h3>Praktisk information</h3>
      <h4>Allmän info</h4>
      <p>
        Vigseln äger rum den 18 juni klockan 16.00 i Gamla Uppsala kyrka, därefter följer fest på Gästrike-Hälsinge Nation
      </p>

      <h4>Osa</h4>
      <p>
        Senast den 23 maj vill vi ha ert svar på någon av adresserna nedan
      </p>
      <a href="mailto:brollop@alenlov.se">brollop@alenlov.</a>
      <pre>
        Alenlöv/Westerborn
        Åbergssons väg 37
        170 77 SOLNA
      </pre>

      <h4>Presenter</h4>
      <p>
        Det vi önskar oss allra mest är glada bröllopsgäster, men vill ni ha med er en present så får ni självklart det. Våra föräldrar har en önskelista så kontakta dem om ni vill ha tips.
      </p>

      <a href="tel:0704972479">Monica Alenlöv<p>
        070 - 497 24 79
      </p></a>
      <a href="tel:0702505254">Camilla Westerborn<p>
        070 - 250 52 54
      </p></a>


      <h4>Klädsel</h4>
      <p>
        Kavaj
      </p>


      <h4>Barn</h4>
      <p>
        Vi gillar barn och just denna dag vill vi helst fira med er vuxna, ammande barn är givetvis välkomna.
      </p>
    </div>
    <ion-list>
    </ion-list>
  </ion-content>
</ion-view>
