<ion-view view-title="Övernattning">
  <ion-content>
    <div class="list card">
      <p>
        Festlokalen ligger på gångavstånd från Uppsala centralstation, men för er som vill ha nära hem finns ett flertal hotell belägna i närheten. Frågor kring hotell och övernattning hänvisas till Camilla Westerborn      </p>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.5700246218057!2d17.634382316716273!3d59.85628067570117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fcbf0eba64ba1%3A0xff88360ac5f02254!2sG%C3%A4strike-H%C3%A4lsinge+nation!5e0!3m2!1ssv!2sse!4v1457118547245" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </ion-content>
</ion-view>
