<ion-view view-title="Transport">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        TILL UPPSALA
      </div>
      <div class="item item-text-wrap">
        Till Uppsala tar man sig lättast med tåg. Både SJ och SL kör tåg från Stockholm till Uppsala.
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        TILL KYRKAN
      </div>
      <div class="item item-text-wrap">
        Från Uppsala centralstation avgår abonnerad buss till kyrkan klockan 15:15. Bussen avgår från Stationsgatan, östra sidan av stationen.
      </div>
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.4760407838214!2d17.647635915968273!3d59.85784137557612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465fcbf931151dcb%3A0xbf23b9e3779bbfab!2sStationsgatan%2C+Uppsala!5e0!3m2!1ssv!2sse!4v1457147590533" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </ion-content>
</ion-view>
